---
import Image from 'astro/components/Image.astro'
import Icon from 'packages/pure/components/user/Icon.astro'

import PageLayout from '@/layouts/BaseLayout.astro'
import landing from '@/assets/relatos-background.png'

export const prerender = true

const meta = {
  description: 'Relatos e historias de la Guerra de las Malvinas, contadas por sus protagonistas.',
  title: 'Relatos de malvinas'
}
---

<PageLayout meta={meta}>
  <Image
    src={landing}
    alt='background'
    class='-z-1 absolute left-0 top-0 h-full w-full object-cover'
    loading='eager'
    height={1080}
    width={1920}
  />

  <main class='h-84vh flex flex-col gap-16'>
    <!-- Title -->
    <h1 class='font-balboa text-center text-5xl text-white md:text-7xl'>Relatos malvinas</h1>

    <!-- Search Form -->
    <form class='flex justify-center'>
      <div class='relative w-full max-w-xl'>
        <input
          type='text'
          placeholder='Buscar relatos, héroes o acontecimientos...'
          class='rounded-4 h-16 w-full border-2 border-[hsl(var(--primary))] pe-14 ps-6'
          aria-label='Buscar relatos'
        />
        <button
          type='submit'
          class='absolute right-4 top-1/2 h-6 w-6 -translate-y-1/2'
          aria-label='Buscar'
        >
          <Icon aria-label='Search Icon' name='search' class='text-muted-foreground size-5' />
        </button>
      </div>
    </form>

    <div class='flex h-full flex-row items-center justify-center gap-20'>
      <!-- Card 1 -->
      <div
        class='hidden aspect-[3/4] w-full max-w-sm scale-90 rounded-xl border border-[hsl(var(--primary))] bg-[hsl(var(--card))] p-4 opacity-60 shadow transition-all duration-300 lg:block'
      >
        <h1 class='text-center text-sm font-bold'>Carta</h1>
      </div>

      <!-- Card 2 Mejorada -->
      <div
        class='border-3 h-full max-w-md rounded-2xl border-[hsl(var(--primary))] bg-[hsl(var(--card))] p-6 shadow-md md:aspect-[3/4]'
      >
        <div class='flex h-full flex-col gap-4'>
          <!-- Badge de heroísmo -->
          <span
            class='text-[hsl(var(--primary)))] w-fit rounded-full bg-[hsl(var(--secondary))] px-4 py-1.5 text-sm font-bold'
          >
            Heroísmo
          </span>

          <!-- Contenedor para título y descripción-->
          <div class='flex min-h-0 flex-1 flex-col gap-4 overflow-hidden'>
            <!-- Title -->
            <h1
              class='text-[hsl(var(--primary-foreground)))] max-h-[5rem] overflow-y-auto text-base font-semibold leading-tight'
            >
              El último vuelo del teniente García
            </h1>

            <!-- Description -->
            <p
              class='text-[hsl(var(--primary-foreground)))] max-h-[7rem] overflow-y-auto text-sm leading-snug'
            >
              La historia del piloto que sacrificó su vida para proteger a sus compañeros durante el
              ataque al HMS Sheffield. Un acto de valentía que quedó grabado en la memoria
            </p>
          </div>

          <!-- Additional description -->
          <div class='flex items-center justify-between text-xs font-bold'>
            <span class='text-[hsl(var(--primary-foreground)))] text-sm'>15 min</span>
            <span class='text-[hsl(var(--primary-foreground)))] text-sm'>Emotivo</span>
          </div>

          <!-- Buttons -->
          <div class='flex items-center justify-center gap-4'>
            <!-- arrow -->
            <button
              class='rounded-full bg-[hsl(var(--primary))] p-3 lg:hidden'
              aria-label='Ir al relato anterior'
            >
              <svg
                xmlns='http://www.w3.org/2000/svg'
                class='h-5 w-5 text-[hsl(var(--secondary))]'
                fill='none'
                viewBox='0 0 24 24'
                stroke='currentColor'
              >
                <path
                  stroke-linecap='round'
                  stroke-linejoin='round'
                  stroke-width='2'
                  d='M15 19l-7-7 7-7'></path>
              </svg>
            </button>

            <!-- more read -->
            <button class='h-12 flex-1 rounded-lg bg-[hsl(var(--primary))]'>
              <span class='text-sm font-bold text-[hsl(var(--secondary))]'>Leer relato</span>
            </button>

            <!-- arrow -->
            <button
              class='rounded-full bg-[hsl(var(--primary))] p-3 lg:hidden'
              aria-label='Ir al Siguiente relato'
            >
              <svg
                xmlns='http://www.w3.org/2000/svg'
                class='h-5 w-5 text-[hsl(var(--secondary))]'
                fill='none'
                viewBox='0 0 24 24'
                stroke='currentColor'
              >
                <path
                  stroke-linecap='round'
                  stroke-linejoin='round'
                  stroke-width='2'
                  d='M9 5l7 7-7 7'></path>
              </svg>
            </button>
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div
        class='hidden aspect-[3/4] w-full max-w-sm scale-90 rounded-xl border border-[hsl(var(--primary))] bg-[hsl(var(--card))] p-4 opacity-60 shadow transition-all duration-300 lg:block'
      >
        <h1 class='text-center text-sm font-bold'>Carta</h1>
      </div>
    </div>
  </main>
</PageLayout>
