---
import BaseLayout from '@/layouts/BaseLayout.astro'
import EnhancedRelatoForm from '@/components/formularios-relato/EnhancedRelatoForm'

export const prerender = false
---

<BaseLayout meta={{ title: 'Formulario - Enviar Relato' }}>
  <div class='flex flex-col gap-y-10'>
    <div class='flex flex-col gap-2'>
      <h1 class='font-balboa text-4xl md:text-6xl'>Formulario - Enviar Relato</h1>
      <p>
        Comparte tu historia o la de un ser querido sobre la Guerra de las Malvinas. Tu relato será
        revisado antes de ser publicado.
      </p>
    </div>

    <EnhancedRelatoForm client:only='react' />
  </div>
</BaseLayout>
